<div id="most-read-shell" class="sidebar">
    <div id="most-read-box">
        <h3>Most Read</h3>
        <ol>
            <li><a href='{{ most_read.a1.get_absolute_url }}'>{{ most_read.a1.title }}</a></li>
            <li><a href='{{ most_read.a2.get_absolute_url }}'>{{ most_read.a2.title }}</a></li>
            <li><a href='{{ most_read.a3.get_absolute_url }}'>{{ most_read.a3.title }}</a></li>
            <li><a href='{{ most_read.a4.get_absolute_url }}'>{{ most_read.a4.title }}</a></li>
            <li><a href='{{ most_read.a5.get_absolute_url }}'>{{ most_read.a5.title }}</a></li>
        </ol>
    </div>
</div>
