{% extends 'articles/base.html' %} {% block body %}
<section id="main" class="tag">
    <div id="body">

    <div class="tag-header">
	    <h1>{{ tag }}</h1>
	</div>

	<div id="articlezone">
		<div class="articles">
        {% for article in recents %} 
			<div class="article-item">
				<div class="list-article article">
					<div class="article-headline-image">
						 <a href="{{ article.get_absolute_url }}">
						 <img src="{{article.image.image.thumbnail.200x200.url}}" title="{{ article.image.caption }}" alt="{{ article.image.caption }}">
						 </a>
					</div>
					<div class="article-section">
						<a href="/tag/{{tag.slug}}"
					</div>
					<h2>
						<a href="{{ article.get_absolute_url }}">{{ article.title}} </a>
					</h2>
					<div class="article-byline"></div>
					<p>{{ article.teaser|safe }}</p>
				</div>
			</div>
		{% endfor %}
		</div>
    </div>

    <div id="sidebar">
    </div>

{% endblock body %}